<div class="col-md-6">
    <h3>New Blog:</h3>
    <form class="col-md-7 form new-blog-post">
        <div class="form-group">
            <label class='form-label' for="blog-title">Title</label>
            <input type="text" id="blog-title" name="blog-title" class="form-input">
        </div>
  
        <div class="form-group">
            <label for="blog-content" class="form-label">Content</label>
            <textarea name="blog-content" id="blog-content" cols="30" rows="10"></textarea>
        </div>

        <div class="form-group">
            <button type="submit" class='btn btn-secondary mt-4'>Submit</button>
        </div>

    </form>
</div>

<script src='./js/create-blog.js'></script>