<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <a href="/create-blog"><button class="btn btn-primary">Create New Blog</button></a>
</div>

<div class="row mt-4">
  {{#if blogs.length}}
  <div class="col-auto project-list">
    <h3>Current Blog Posts:</h3>

    {{#each blogs as |blog|}}
      <div class="card blog-post">
        <div class="card-header">
          <h2>
            <a href="/blogs/edit/{{blog.id}}">{{blog.title}}</a>
          </h2>
          <p class="sub-text">Published on: {{format_date blog.date_created}}</p>
        </div>
      </div>
    {{/each}}
  </div>
  {{/if}}

<script src="./js/dashboard.js"></script>







